<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="FlickrApiKey" value="6bd04d2d71c96d60ee2ddd16dc26b0aa"/>
    <add key="FourSquareClientID" value="SXQ5WETX41QKSXXQOV2LTPPGIVOTR2XRHCEAOPAU5SFO1FEY"/>
    <add key="FourSquareClientSecretKey" value="3HCXRHCGC2PAS1YSV0ZNBTZKUVKS2ZSLQNLMOMNUBID3ARKH"/>
  </appSettings>
  <connectionStrings>
    <add name="FlickrDataEntities"
      connectionString="metadata=res://*/FlickrModel.csdl|res://*/FlickrModel.ssdl|res://*/FlickrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=E:\MK Projects\IP.VD.Solution\IP.VD.Solution.Entity\FlickrDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>